@model Lends.Models.Rent

@{
    ViewData["Title"] = "Delete";
}

<div class="jumbotron jumbotron-form">

    <h1 class="h1-subcategories">Deletar Aluguel</h1>

    <h4 class="delete-text">Você tem certeza que quer deletar esse aluguel?</h4>
    <dl class="dl-style">
        <div class="details-list">
            <dt class="dt-item col-sm-2 dt-item-key">
                @Html.DisplayNameFor(model => model.Game)
            </dt>
            <dd class="dt-item col-sm-2">
                @Html.DisplayFor(model => model.Game.Name)
            </dd>
        </div>
        <div class="details-list">
            <dt class="dt-item col-sm-2 dt-item-key">
                @Html.DisplayNameFor(model => model.Client)
            </dt>
            <dd class="dt-item col-sm-2">
                @Html.DisplayFor(model => model.Client.Name)
            </dd>
        </div>
        <div class="details-list">
            <dt class="dt-item col-sm-2 dt-item-key">
                @Html.DisplayNameFor(model => model.RentalDate)
            </dt>
            <dd class="dt-item col-sm-2">
                @Html.DisplayFor(model => model.RentalDate)
            </dd>
        </div>
        <div class="details-list">
            <dt class="dt-item col-sm-2 dt-item-key">
                @Html.DisplayNameFor(model => model.ReturnDate)
            </dt>
            <dd class="dt-item col-sm-2">
                @Html.DisplayFor(model => model.ReturnDate)
            </dd>
        </div>
        <div class="details-list">
            <dt class="dt-item col-sm-2 dt-item-key">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="dt-item col-sm-2">
                @Html.DisplayFor(model => model.Price)
            </dd>
        </div>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-outline-danger button-size" />
        <a asp-action="Index" class="btn btn-outline-warning button-size">Retornar</a>
    </form>
</div>
