@model Lends.Models.Client

@{
    ViewData["Title"] = "Deletar";
}

<div class="jumbotron jumbotron-form">
    <h1 class="h1-subcategories">Deletar Cliente</h1>
    <h4 class="delete-text">Você tem certeza que quer deletar esse cliente?</h4>

    <dl class="dl-style">
        <div class="details-list">
            <dt class="dt-item col-sm-2 dt-item-key">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="dt-item col-sm-2">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </div>
        <div class="details-list">
            <dt class="dt-item col-sm-2 dt-item-key">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="dt-item col-sm-2">
                @Html.DisplayFor(model => model.Email)
            </dd>
        </div>
        <div class="details-list">
            <dt class="dt-item col-sm-2 dt-item-key">
                @Html.DisplayNameFor(model => model.Cellphone)
            </dt>
            <dd class="dt-item col-sm-2">
                @Html.DisplayFor(model => model.Cellphone)
            </dd>
        </div>
        <div class="details-list">
            <dt class="dt-item col-sm-2 dt-item-key">
                @Html.DisplayNameFor(model => model.Cpf)
            </dt>
            <dd class="dt-item col-sm-2">
                @Html.DisplayFor(model => model.Cpf)
            </dd>
        </div>
        <div class="details-list">
            <dt class="dt-item col-sm-2 dt-item-key">
                @Html.DisplayNameFor(model => model.RegistrationDate)
            </dt>
            <dd class="dt-item col-sm-2">
                @Html.DisplayFor(model => model.RegistrationDate)
            </dd>
        </div>
        <div class="details-list">
            <dt class="dt-item col-sm-2 dt-item-key">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="dt-item col-sm-2">
                @Html.DisplayFor(model => model.Address.ZipCode)
            </dd>
        </div>
        <div class="details-list">
            <dt class="dt-item col-sm-2 dt-item-key">
                @Html.DisplayNameFor(model => model.Address.Number)
            </dt>
            <dd class="dt-item col-sm-2">
                @Html.DisplayFor(model => model.Address.Number)
            </dd>
        </div>
        <div class="details-list">
            <dt class="dt-item col-sm-2 dt-item-key">
                @Html.DisplayNameFor(model => model.Address.AdditionalInformation)
            </dt>
            <dd class="dt-item col-sm-2">
                @Html.DisplayFor(model => model.Address.AdditionalInformation)
            </dd>
        </div>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-outline-danger button-size" />
        <a asp-action="Index" class="btn btn-outline-warning button-size">Retornar</a>
    </form>
</div>