@model IEnumerable<Lends.Models.Client>

@{
    ViewData["Title"] = "Clientes";
}

<div class="jumbotron">
    <h1 class="h1-subcategories">Clientes</h1>

    <p class="buttons-clients">
        <a asp-action="Create" class="btn btn-primary add-producer">Adicionar cliente</a>
        <a asp-controller="Addresses" asp-action="Index" class="btn btn-primary add-producer addresses">Endereços</a>
    </p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Cellphone)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Cpf)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.RegistrationDate)
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cellphone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cpf)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegistrationDate)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary button-size">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-warning button-size">Detalhes</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger button-size">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
