@model Lends.Models.Producer

@{
    ViewData["Title"] = "Informações";
}

<div class="jumbotron jumbotron-form">

    <h1 class="h1-subcategories">Detalhes sobre o fabricante</h1>
    <dl class="dl-style">
        <div class="details-list">
            <dt class="dt-item col-sm-2 dt-item-key">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="dt-item col-sm-2">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </div>
        <div class="details-list">
            <dt class="dt-item col-sm-2 dt-item-key">
                @Html.DisplayNameFor(model => model.Cnpj)
            </dt>
            <dd class="dt-item col-sm-2">
                @Html.DisplayFor(model => model.Cnpj)
            </dd>
        </div>
    </dl>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary button-size">Editar</a>
        <a asp-action="Index" class="btn btn-outline-warning button-size">Retornar</a>
    </div>
</div>
