@model IEnumerable<Lends.Models.Producer>

@{
    ViewData["Title"] = "Fabricantes";
}

<div class="jumbotron">

    <h1 class="h1-subcategories">Fabricantes</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary add-producer">Adicionar Fabricante</a>
    </p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Cnpj)
                </th>
                <th scope ="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cnpj)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary button-size">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-warning button-size">Detalhes</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger button-size">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
